.pager label {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
}

.pageLink {
    cursor: pointer;
    text-decoration: underline;
    color: darkgreen;
}

.pageLinkselected {
    cursor: default;
    text-decoration: none;
    color: red;
}
